*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    color: bisque;
    text-shadow: 2px 2px 10px black;
    scroll-behavior: smooth;

}
@font-face {
    font-family: "Bitcount";
    src: url(BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}
:root{
    /* Colors */
    --color-1: rgb(252, 8, 166);
    --color-2: rgb(58, 2, 106);
    --color-3: white;
    --color-4: black;
    --color-5: rgb(255, 227, 16);
    --color-6: rgb(62, 57, 57);
}
.mobile_view{
    display: none;
}

p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px var(--color-4);
}
.section_title{
    display: inline-block;
    font-size: 2.5rem;
    text-shadow: 1px 2px 2px var(--color-4);
    font-family: Bitcount;
    color: var(--color-2);
    border: outset 10px var(--color-4);
    padding: 10px;
    margin-left: 50px;
    backdrop-filter: blur(5px);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: auto;
    padding: 10px;
    border: ridge 10px var(--color-6);
    z-index: 1;
}
header #navBtn{
    background: none;
    border: none;
}
header #navBtn a{
    align-items: center;
    font-family: "Bitcount";
    color: var(--color-1);
    font-size: 2.7rem;
    text-shadow: 2px 2px 10px var(--color-4);
    padding: 0;
    margin: 0;
    line-height: 1;
    text-decoration: none;
}
header #navBtn:hover{
    cursor: pointer;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0 20px;
}
nav ul a{
    font-family: "Bitcount";
    text-decoration: none;
    color: var(--color-1);
    font-size: 2rem;
    text-shadow: 5px 10px 10px var(--color-4);
}
header nav .dropdowncontent{
    display: none;
    position: absolute;
    background-color: var(--color-6);
    min-width: 200px;
    padding: 10px;
}
header nav ul .dropdowncontent a{
    font-size: 1.7rem;
}
header nav .dropdowncontent a{
    color: var(--color-4);
    display: block;
    text-shadow: none;
}
header nav a:hover{
    background-color: var(--color-4);
    border-radius: 30%;
    padding: 10px;
    color: var(--color-2);
    text-shadow: 2px 2px 10px var(--color-4);
}
header nav .dropdown:hover .dropdowncontent{
    display: block;
    background-color: var(--color-3);

}
.dropdowncontent a:hover{
    background-color: var(--color-1);
    padding: 20px;
    color: var(--color-3);
    border-radius: 0;
}
header img{
    width: 200px;
    height: 140px;
}
main .video_yt{
    display: none;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;
}
main .video_yt iframe{
    border: groove 10px var(--color-6);
}
main .ytbtn{
    display: flex;
    justify-self: center;
    margin-bottom: 100px;
}
main .ytbtn button{
    padding: 20px;
    background: transparent;
    cursor: pointer;
    color: var(--color-3);
    font-size: 1.2rem;
    font-family: Bitcount;
    width: 400px;
    border: double 3px var(--color-1);
    backdrop-filter: blur(15px);

}
main .ytbtn button:hover{
    transition: all 0.5s ease-in;
    transform: scale(1.2);
}
main .search_bar{
    display: flex;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    position: relative;
}
main .search_bar input{
    position: relative;
    width: 700px;
    height: 50px;
    border-radius: 100px;
    border: inset 10px var(--color-4);
    text-align: start;
    font-size: 2rem;
    color: var(--color-4);
    text-shadow: none;
    padding: 2px 2px 2px 60px;
    margin-bottom: 200px;
}
main .search_bar input:hover{
    background-color: var(--color-6);
}
main .search_bar label{
    margin-left: 20px;
}
.search_bar .search-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    position: absolute;
    left: 12px;
    top: 5px;
}
.search-btn svg{
    fill: gray;
    pointer-events: none;
}
main .instructions{
    display: flex;
    justify-content: center;
}
main .instructions textarea{
    width: 800px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
}
main{
    background-image: url(main_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1675px;
    background-attachment: fixed;
    background-position: center;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.home h2{
    margin-bottom: 30px;
}
.products{
    scroll-margin-top: 200px;
}
.product_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-left: 50px;
}
.product_container img{
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    border: dotted 0.5px var(--color-4);
    margin-top: 10px;
    border-radius: 20%;
}
.product_container .items{
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 50px;
}
.product_container .items .productBtn{
    color: var(--color-2);
    text-shadow: none;
    padding: 10px;
    background: var(--color-4);
    border: double 5px var(--color-6);
    cursor: pointer;
    font-family: Bitcount;
    font-size: 1.2rem;
    color: var(--color-3);
}
.product_container .items .secondaryBtn{
    color: var(--color-2);
    text-shadow: none;
    padding: 10px;
    background: var(--color-4);
    border: double 5px var(--color-6);
    cursor: pointer;
    font-family: Bitcount;
    font-size: 1.2rem;
    color: var(--color-3);
    margin-bottom: 30px;
}

.product_container .items .productBtn:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
}
.hidden_gpu{
    gap: 100px;
}
.quantity{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.product_container .product_name{
    font-family: Bitcount;
    color: var(--color-3);
    margin-bottom: 50px;
    padding: 15px;
}
.quantity p{
    font-size: 1.3rem;
    font-family: Bitcount;
}
.counter{
    text-align: left;
    font-size: 0.85rem;
}
.button_2 button{
    width: 120px;
    justify-content: center;
    font-family: Bitcount;
    padding: 15px;
}
.hidden_gpu{
    padding: 20px;
    width: 300px;
    align-items: center;
}
.gpu_sec {
    display: flex;
    align-items: center;
}
.gpu_sec .high_gpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.gpu_sec .mid_gpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.gpu_sec .low_gpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.quantity, .button_2{
    display: flex;
    flex-direction: row;
    color: var(--color-1);
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    gap: 30px;
}
.quantity button{
    background-color: var(--color-2);
    margin-left: 20px;
}
.product_container .button_2{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.button_2 button{
    background-color: var(--color-2);

}
.hidden_gpu p{
    text-align: center;
}
.monitor_sec{
   display: flex;
   align-items: center;
}

.hidden_monitor{
    align-items: center;
    width: 300px;
    padding: 20px;
    gap: 100px;
}
.hidden_monitor p{
    font-family: Bitcount;
}
.hidden_monitor .alien_monitor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.hidden_monitor .koorui_monitor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.hidden_monitor .nvision_monitor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.psu_sec .hidden_psu{
    display: none;
}
.product_container .quantity{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
#monitorMenu{
    display: none;
    background: transparent;
    justify-items: center;
    margin-left: 20px;
}
#monitorMenu img{
    width: 250px;
}
#gpuMenu{
    display: none;
    background: transparent;
    margin-left: 20px;
    justify-items: center;
}
#gpuMenu img{
    width: 250px;
}

#periMenu{
    display: none;
    justify-items: center;
}
#psuMenu{
    display: none;
    width: 250px;
    background: transparent;
    margin-left: 20px;
    justify-items: center;
}
#psuMenu img{
    width: 250px;
}
.psu_sec{
    display: flex;
    align-items: center;
}

.psu_sec .hidden_psu{
    gap: 100px;
    align-items: center;
    width: 300px;
    padding: 20px;
}
.hidden_psu .High_PSU{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.hidden_psu .Mid_PSU{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.hidden_psu .Low_PSU{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: groove 9px var(--color-2);
}
.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.input_container label{
    color: var(--color-1);
    text-shadow: 3px 3px 5px var(--color-4);
    font-size: 2rem;
    backdrop-filter: blur(2px);
    padding: 10px;
}
.input_container input{
    border: solid 3px var(--color-1);
    padding: 10px;
    margin-right: 20px;
    width: 20%;
    align-items: center ;
    color: var(--color-2);
    text-shadow: none;
}
.input_container input::placeholder{
    color: var(--color-2);
    text-shadow: none;
}
.input_container button{
    color: var(--color-1);
    border: solid;
    padding: 20px;
    border-radius: 10%;
    background-color: var(--color-6);
    cursor: pointer;
}
.input_container button:hover{
    background-color: var(--color-1);
    color: var(--color-2);
}
.input_container .input_comment{
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(40px);
}
.input_comment p{
    color: var(--color-1);
    padding: 10px;
    text-shadow: none;
}
footer{
    background-color: var(--color-4);
}

/* Media query section */
@media screen and (max-width: 1880px){
    .product_container .gpu_sec,
    .product_container .monitor_sec,
    .product_container .psu_sec{
        flex-direction: column;
    }
}

@media screen and (max-width: 1475px){
    .section_title{
        align-items: center;
    }
    .product_container{
        align-items: center;
        margin-left: 0;
    }
    #gpuMenu{
        margin-left: -800px;
        flex-direction: column;
    }
    .hidden_gpu{
        gap: 50px;
    }
    .hidden_monitor{
        gap: 50px;
    }
    #monitorMenu{
        margin-left: -800px;
    }
    .hidden_psu{
        gap: 50px;
    }
    #psuMenu{
        margin-left: -800px;
        gap: 50px;
    }
}
@media screen and (max-width: 1150px){
    nav ul{
        gap: 20px;
    }
    nav ul a{
        font-size: 1.3rem;
    }
    main .search_bar input{
        width: 50%;
    }
    .product_container .items .mobile_view span{
        font-family: Bitcount;
        background-color: var(--color-1);
        padding: 5px;
        color: var(--color-4);
        margin-bottom: 50px;
    }
    .product_container .items .mobile_view span:hover{
        color: var(--color-3);
        background-color: var(--color-2);
    }
    .product_container .button_2{
        gap: 0;
        padding: 0px;
    }
    .product_container img{
        border: double var(--color-1);
        border-radius: 0;
        backdrop-filter: blur(5px);
    }
    #gpuMenu{
        margin-left: -400px;
    }
    .hidden_gpu{
        margin: 0 auto;
        gap: 10px;
    }
    .hidden_monitor{
        margin: 0 auto;
    }
    #psuMenu{
        margin-left: -400px;
        margin: 0 auto;
    }
    .product_container .items .productBtn{
        display: none;
    }
    .mobile_view{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_view p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: var(--color-3);
        background: transparent;
        backdrop-filter: blur(20px);
        padding: 10px;
        width: 250px; 
        letter-spacing: 10px;
        margin-bottom: 100px;
        border-radius: 50%;
    }

}
@media screen and (max-width: 875px){
    header #navBtn a{
        display: none;
    }
    main .home p{
        font-size: 1rem;
    }
    main .section_title{
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 600px){
    main .home{
    scroll-margin-top: 300px;
    line-height: 35px;
    letter-spacing: 3px;
    }
        main .section_title{
        font-size: 1.1rem;
    }
    main .home p{
        font-size: 0.7rem;
    }
}